
.weather-card{
    display: flex;
    flex-direction: column;
    gap:30px;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");

}

.output-box h1{
    color: aliceblue;
}

.output-box{
    
   background: rgb(122, 204, 234);
    padding: 30px 30px;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(248, 182, 182);
    transform: translateX(400px);
    background-color: rgb(122, 204, 234);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.search-box input{
    width: 50%;
    padding: 20px 20px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgb(129, 123, 123);
}

.btn-primary{
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    z-index: -1;
    transform: translateX(-80px);

}
.city{
  
    font-size: 40px;
}

.output-weather-top{
   display: grid;
   
   grid-template-columns: 300px 300px;
   
}

.temp{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.avg-temp{
    font-size: 30px;
}

.desc{
    display: flex;
    flex-direction: column;
    text-align: justify;
}